body {
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #35424a;
    border-bottom: orangered 3px solid;
    padding-top: 30px;
    color: #ffffff;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}
