// @import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$family-sans-serif: "Montserrat", sans-serif;
$white: #fff;
$black: #00171f;
$prussian-blue: #003459;
$cerulean: #007ea7;
$vivid-cerulean: #00a8e8;

$primary: $vivid-cerulean;

$navbar-item-img-max-height: 3.25rem;

// Import only what you need from Bulma
@import "./bulma/utilities/all";
@import "./bulma/base/all";
@import "./bulma/elements/all";
@import "./bulma/elements/all";
@import "./bulma/elements/all";
@import "./bulma/form/all";
@import "./bulma/components/all";
@import "./bulma/layout/all";
@import "./bulma/grid/all";
@import "helpers";

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 4.25rem;
}

.navbar-burger {
  height: 4.25rem;
  width: 4.25rem;
}

footer a {
  text-decoration: none;
  color: $grey;
}

footer a:hover {
  color: $white;
}

a.box {
  @extend .shadow-3;
  @extend .p-10;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    @extend .shadow-5;
    // @extend .p-5;
  }
}

// Responsive font sizes
// html {
//   font-size: 16px;
//   @include tablet {
//     font-size: 20px;
//   }
//   @include desktop {
//     font-size: 24px;
//   }
// }

// #navbar {
//   transition: top 0.3s;
// }
