// @import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$family-sans-serif: "Montserrat", sans-serif;
$white: #fff;
$black: #00171f;
$prussian-blue: #003459;
$cerulean: #007ea7;
$vivid-cerulean: #00a8e8;

$primary: $vivid-cerulean;

$navbar-item-img-max-height: 3.25rem;

// Import only what you need from Bulma
@import "./bulma/utilities/_all.sass";
@import "./bulma/base/_all.sass";
@import "./bulma/elements/_all.sass";
@import "./bulma/elements/_all.sass";
@import "./bulma/elements/_all.sass";
@import "./bulma/form/_all.sass";
@import "./bulma/components/_all.sass";
@import "./bulma/layout/_all.sass";
@import "./bulma/grid/_all.sass";

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 4.25rem;
}

.navbar-burger {
  height: 4.25rem;
  width: 4.25rem;
}

// Responsive font sizes
// html {
//   font-size: 16px;
//   @include tablet {
//     font-size: 20px;
//   }
//   @include desktop {
//     font-size: 24px;
//   }
// }

// #navbar {
//   transition: top 0.3s;
// }
